body {
    justify-content: center;
}

.container {   
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    margin-left: 23.2%;
    margin-right: 10px;
}

.box{
    background-color: transparent;
    margin: 5px;
    border-radius: 10px;
    padding: 15px;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 25%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.aluno{
    background-color: white;
    border: 3px solid  black;
    border-radius: 10px;
}